.form{
	border: 1px solid $red;
	padding: 30px;
	border-radius: 20px;
	margin: 30px auto;
}

.form__title{
	margin-top: 30px;
	text-align: center;
}

.btn-primary {
	border: none;
	background: $red;
	border-radius: 20px;
}
.btn-primary:hover{
	background: $red;
}

input{
	border: none!important;
	border: 1px solid $white!important;
	border-bottom: 1px solid $red!important;
}
input:focus{
	border: 1px solid $red!important;
	box-shadow: 0 0 0 0.2rem rgba($color: $red, $alpha: 0.3)!important ;
}